:root {
    --color-primary: #F7E8A1;
    --color-accent: #721111;
    --text-color: #ffffff;
}

* {
    margin: 0;
    font-family: 'Roboto';
}

.container {
    margin: 5% 3%;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(328px, auto));
    grid-column-gap: 1rem;
}

body {
    background-color: var(--color-primary);
}

h1 {
    color: var(--color-accent);
    font-size: 38px;
}

p {
    color: var(--text-color);
}

.email {
    color: var(--color-accent);
    font-size: 22px;
    font-weight: 500;
}

h2.title {
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--color-accent);
    font-size: 28px;
}

.quote {
    font-size: 1.3rem;
}

.author {
    margin-top: 0.4rem;
    font-size: 1.2rem;
    font-weight: 500;
}

.card {
    background-color: var(--color-accent);
    border-radius: 10px;
    margin: 5px 0px;
}

.education-card > * {
    margin-top: 0.1rem;
}

.education-card, .quote-card {
    padding: 1rem;
}

.school {
    font-size: 1.3rem;
    font-weight: 500;
}

.course-details, .course-result {
    font-size: 1.2rem;
}

.quote {
    font-size: 1.3rem;
}

.author {
    margin-top: 0.4rem;
    font-size: 1.2rem;
    font-weight: 500;
}

iframe {
    border-radius: 10px;
}

.movie-card {
    min-height: fit-content;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    overflow: hidden;
}

.cover {
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    grid-column: 1 / 2;
}

.info {
    padding: 1.2rem;
}

.info > .title {
    font-size: 1.3rem;
    font-weight: 500;
}

.info > .producer {
    font-size: 0.9rem;
}

.tags {
    margin-top: 0.3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, auto));
}

a, a:visited {
    text-decoration: none;
    color: var(--text-color);
}


.tag {
    margin-top: 0.4rem;
    width: max-content;
    padding: 4px 10px;
    border: 1px solid var(--text-color);
    border-radius: 50px;
}

.tag:hover {
    background-color: var(--text-color);
    color: var(--color-secondary);
}

@media only screen and (min-width: 650px){
    .movie-card  {
        width: 420px;
        height: auto;
    }
} 

@media only screen and (min-width: 850px){
    .movie-card  {
        width: auto;
        height: auto;
    }
}